.page-header {
  position: relative;
  min-width: 320px;
  min-height: 80px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.page-header--opened {
  height: auto;
}

.page-header--closed {
  height: 80px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.page-header__toggle {
  position: absolute;
  width: 79px;
  height: 79px;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  outline: none;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--close {
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 20px;
}

.page-header__toggle--open {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 14px;
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header__logo {
  border-bottom: 1px $color-grey-border solid;
  order: 1;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin: 0 auto;
  }
}

.page-header__logo-link {
  position: relative;
  display: block;
  width: 320px;
  height: 79px;
  margin: 0 auto;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 114px;
    height: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 86px;
  height: 34px;

  @media (min-width: $tablet-width) {
    left: 0;
    top: 50%;
    transform: translate(-5px, -50%);
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.page-header__main-nav {
  order: 2;

  @media (min-width: $tablet-width) {
    order: 4;
    min-width: 60%;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    min-width: 385px;
    margin-right: 0;
  }
}

.page-header__main-nav-list {
  @include ul();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.page-header__main-nav-item {
  border-bottom: 1px $color-grey-border solid;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-header__main-nav-item:first-of-type {
  @media (min-width: $tablet-width) {
    padding-right: 35px;
  }
}

.page-header__main-nav-item:last-of-type {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
    border-left: 1px $color-grey-border solid;
  }
}

.page-header__main-nav-item a {
  @include text-bold();
  display: flex;
  align-items: center;
  width: 320px;
  height: 79px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 75px;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: 64px;
    padding: 0;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    height: 88px;
    font-size: 17px;
  }
}

.page-header__search-cart-nav {
  order: 3;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 346px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 37px;
  }
}

.page-header__search {
  border-bottom: 1px $color-grey-border solid;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-header__search-wrapper {
  display: flex;
  flex-direction: row;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    top: 0;
    width: 84px;
    height: 88px;
    z-index: 3;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    border-left: 1px $color-grey-border solid;
    border-right: 1px $color-grey-border solid;

    &:hover {
      width: 348px;
    }
  }
}

.page-header__search-button {
  position: relative;
  display: block;
  width: 75px;
  height: 79px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 0;

  &:active {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 88px;
    z-index: 1;
  }
}

.page-header__search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  opacity: 0.2;
}

.page-header__search-wrapper:hover .page-header__search-icon,
.page-header__search-wrapper:focus .page-header__search-icon {
  fill: $color-green-1;
  opacity: 1;
}

.page-header__search-button:active .page-header__search-icon {
  fill: $color-green-1;
  opacity: 0.3;
}

.page-header__search-field {
  @include text-bold();
  display: block;
  width: 215px;
  height: 79px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 17px;
  line-height: 24px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 264px;
    height: 88px;
    margin-left: 84px;
    padding: 0 3px;
  }
}

.page-header__search-field::placeholder {
  color: #000000;
}

.page-header__search-field:focus::placeholder {
  opacity: 0;
}

.page-header__search-field::-webkit-search-decoration,
.page-header__search-field::-webkit-search-cancel-button,
.page-header__search-field::-webkit-search-results-button,
.page-header__search-field::-webkit-search-results-decoration {
  display: none;
}

.page-header__search-field::-ms-clear {
  display: none;
}

.page-header__cart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 79px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 88px;
    width: auto;
    margin-left: 84px;
  }
}

.page-header__cart-button {
  position: relative;
  display: block;
  width: 75px;
  height: 79px;
  box-sizing: border-box;
  background-color: #ffffff;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 84px;
    height: 88px;
  }
}

.page-header__cart-icon {
  width: 21px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  opacity: 0.2;
}

.page-header__cart-button:hover .page-header__cart-icon,
.page-header__cart-button:focus .page-header__cart-icon {
  fill: $color-green-1;
  opacity: 1;
}

.page-header__cart-button:active .page-header__cart-icon {
  fill: $color-green-1;
  opacity: 0.3;
}

.page-header__cart-text {
  @include text-bold();
  font-size: 17px;
  line-height: 24px;
}

.page-header__extra-nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    order: 4;
    min-width: 60%;
    margin-right: auto;
  }
}

.page-header__extra-nav-list {
  @include ul();
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-header__extra-nav-item a {
  @include text-bold();
  display: flex;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.page-header__extra-nav-item:first-of-type {
  padding-right: 35px;
}

.page-header__delivery {
  display: none;

  @media (min-width: $tablet-width) {
    @include text();
    display: flex;
    align-items: center;
    font-size: 15px;
    order: 4;
    height: 64px;
    text-decoration: none;

    &:focus,
    &:hover {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    order: 5;
  }
}
