$color-green-1: #63d1bb;
$color-green-2: #56c3b2;
$color-green-3: #46c1ae;
$color-green-4: #149080;
$color-grey-background: #f1f1f1;
$color-grey-text: #444444;
$color-grey-border: #ececec;

$tablet-width: 768px;
$desktop-width: 1150px;
